@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif; 
}
a{
    text-decoration: none;
}

/* top-nav-banner */
.top-banner{
    display:flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding:7px 0px;
    border-bottom: 1px solid rgb(227, 215, 215);
}
.banner-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    font-size: 14px; 
}
.banner-box p{
    margin:0;
    margin-right: 25%;
}
#lang{
    display:flex;
    align-items: center;
}
#lang a{
    text-decoration: none;
    color:black
}

.media {
   display:flex;
   width:46%;
   justify-content: flex-start;
}
.media>div{
    display:flex;
    align-items: center;
    padding:5px;
    margin-left: 10px;
}
.media>div a{
    padding-left: 5px;
    text-decoration: none;
    color:black
}
.media>div> img{
    width:12%;
}
/* top-nav-banner */
.main-box{
    width:95% ;
    margin:auto;
}
/* main-nav */

.navbar-light .navbar-nav .nav-link{
    color:black;
}
.navLinks{
   
    width:20%
}
.container-fluid{
    margin:0;
    align-items: center;
    display: flex;
}
.logo{
    display:flex;
    align-items: center;
}
.logo h1{
    margin-left: 5px;
    font-weight:bold;
    font-family: 'Dancing Script', cursive;
}


.nav-content, .nav-icons{
    display:flex;
    justify-content: space-between;
}
.nav-icons{
    /* border:1px solid; */
    width:30%;
    justify-content:flex-end;
    padding:10px;
}
.nav-icons a>img{
    padding-left:20px;
}
.search{
    border:2px solid rgb(147 147 149);
    display:flex;
    border-radius:5px;
    padding:0px 5px;
    width:70%;
    justify-content: space-between;
} 


#search-box{
    border:none;
    outline: none;
    width:90%
}

/* dropdown-menu */
.dropdown{
    font-size: 14px;
    font-weight: bold;
}
.dropdown-menu li a{
    color:rgba(18, 17, 17, 0.529);
}

.dropdown-menu{
    box-shadow: 0px 1px 8px -4px rgb(0 0 0 / 42%);
    border:none;
    font-size: 13px;
    transition: ease-in .2s;
}
.dropdown-item{
    padding: .5rem 5rem 0.5rem 0.2rem;
}
.men, .women{
    width:1400px;
}
.dropdown-menu[data-bs-popper]{
    top:125%;
}
.inside-drop-box{
    display:flex;
    justify-content:space-around
}
.inside-drop{
    display:flex;
    width:50%;
    margin-left:10px;
} 

/* dropdown-menu */
/* main-nav */

/* banner */

.banner{
    background-image:url("../index-images/indexImg/banner.jpeg");
    height:600px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display:flex;
    align-items:center;
    justify-content:center;
}
.banner button{
    /* display: block; */
    padding:7px 20px;
    border-radius: 7px;
    color:white;
    background-color:black;
    font-size: 12px;
}

/* banner */

/* women card */
.carousel{
    margin-bottom:60px;
}
.women-card , .men-card{
    margin:30px 50px;
}

.cards-wrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.card img{
    position:relative;
}
.card-body a{
    position: absolute;
    left:270px;
    top:395px;
    
}
.card-body a img:hover{
    filter: invert(200%) sepia(0%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    /* filter:grayscale(100%); */
}
.card-title{
    font-weight:bolder;
}
.custom-btn{
    border-radius: 35px;
    padding:10px;
    background-color:white;
    border:none;
}
.custom-btn:hover{
    border:black;
    background-color:black;
}


/* women card */

/* featured-brand */
.featue-brand-title h1{
    text-align: center;
}
.feature-brand-content h5{
    font-weight: bold;
    margin-top: 10px;
}
.feature-brand-content{
    display:flex;
    justify-content:space-between;
    margin:45px 0px
}
/* featured-brand */

/* collab */
.image-wrapper {
    position: relative;
  }

  .image-hover{
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .7s ease-in-out;
    width:100%;
    
  }

  .image-hover:hover {
    opacity: 1;
    cursor:pointer;
  }

  .collab{
    margin-top: 70px;
  }
  
.collab button , .explore-brand button{
    display:block;
    border-radius: 7px;
    padding:5px 10px;
    background-color: black;
    color:white;
    margin: 10px auto;
}
.collab-title , .featured-product-title, .explore-brand-title, .brand-on-cc-title{
    text-align: center;
    margin:40px 0;
}
.card-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px 0px;
    place-items: center;
}
.card-container .card-title{
    font-size: 11px;
    color: #00000085;
}
.card-container .card{
    border:none;
}
.card-name{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
.card-price{
    margin: 5px 0;
}
/* collab */

/* featured-product */
.featured-product , .explore-brand,.brand-on-cc{
    margin: 70px auto;
}
.card-body{
    padding: 1rem 0;
}
.featured-product-custom-carousel{
   
    display:flex!important;
    align-items: center;
    justify-content: space-between;
}
.featured-product-custom-carousel .card{
   
    margin:auto;
}
.featured-product-carouselItem{
    width:50%;
    overflow: hidden;
}
.featured-product-carouselItem img:hover{
    transform: scale(1.1);
}
.featured-product-carouselItem img{
    width:100%;
    transition: .5s ease-in-out;
}
/* featured-product */

/* explore brands */

.explore-brand-title h1{
    text-align: center;
}
/* explore brands */

/* brand-on-cc */
.brand-on-cc-container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 30px 30px;
}
/* brand-on-cc-container */

/* footer */
.socialmedia{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    list-style: none;
    text-align: center;
}
.socialmedia li:last-child{
    margin-left: 40px;
}

.footer1 li{
    list-style: none;
    color: #666666;
    font-size: small;
}
.footer1{
    
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    margin-top: 9px;
    width: 100%;
    list-style: none;
}
.footer1>div{
    padding-top: 50px;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE ;
    background-color: #F5F5F5;

}
.footer1>div:last-child{
    border-right:0;
}
.footer1 p{
    
    font-weight: 500;
    color: #1d1c1c;
    font-size: 14px;
    font-style:normal;
}
.btn{
    border: 0;
    background-color: #fff;
}
.dropdow a{
    background-color: #ffffff;
    width: 100%;
    margin-left: 10px;
}
.dropdow{
    border: 1px solid #DEDEDE;
    display: none;
}
.footer2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
/* footer */

@media only screen and (min-width: 100px) and (max-width:1300px){

    
    .card:last-child{
        display: none;
    }
    .cards-wrapper
    {
        grid-template-columns: repeat(3,1fr);
    }

    .card-container{
        grid-template-columns: repeat(3,1fr);
    }
    .brand-on-cc-container{
        grid-template-columns: repeat(4,1fr);
    }
}
@media  (min-width: 60px) and (max-width: 990px) {
    .navbar-collapse{
        position: absolute;
        top: 60px;
        left: 20px;
        background: white;
        padding: 10px;
        border: 1px solid #00000061;
        border-radius: 7px;
    }
    .men-nav-img{
        display:none;
    }
    .inside-drop-box{
        justify-content: flex-start;
    }
    .men, .women{
        width:650px;
    }
    .top-banner{
        display:none;
    }
    .search{
        display:none;
    }
    .banner{
        background-image:url("https://cdn.shopify.com/s/files/1/0677/1464/6315/files/George_thomas_artworks4.jpg?v=1676617973&width=750")
    }
    .card:nth-child(3){
        display: none;
        border: 5px solid;
    }
    .cards-wrapper
    {
        grid-template-columns: repeat(2,1fr);
    }

    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .brand-on-cc-container{
        grid-template-columns: repeat(3,1fr);
    }
    .card-body a{
        left: 230px;
        top: 400px;
    }
    
}
@media only  screen and (max-width: 600px) {
    .men, .women{
        width:350px;
    }
    .collab .card{
        width:12rem;
    }
    .inside-drop-box .shoes{
        display: none;
    }

    .feature-brand-content{
        flex-direction: column;
        align-items: center;
    }
    .feature-brand-content div{
        width:79% !important;
    }
    .featured-product-custom-carousel{
        flex-direction: column;
    }
.card:nth-child(2){
    display: none;
    border: 5px solid;
}
.cards-wrapper
{
    grid-template-columns: repeat(1,1fr);
}

.card-container{
    grid-template-columns: repeat(1,1fr);
}
.brand-on-cc-container{
    grid-template-columns: repeat(2,1fr);
}
.brand-on-cc-container img{
    width:100%;
}
.card-body a{
    left:400px;
    top:645px;
}
}
@media only  screen and (max-width: 400px)
{
    .logo h1{
        display: none;
    }
    .men, .women{
        width:250px;
    }
    .inside-drop-box .brand{
        display: none;
    }
}

@media  (max-width:822px) {
 
    .footer1{
  
      display: grid;
      grid-template-columns: repeat(2,1fr) !important;
      margin-top: 9px;
      width: 100%;
      list-style: none;
  }
  .footer2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 10px;
}
.footer2 div{
    display: flex;
    margin: auto;
}

}