@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
    font-family: "Merriweather Sans", sans-serif !important;
}
        li:hover{
          pointer-events: fill;
        }
        @media  (min-width:822px) {
            .dropdownicon{
                display: none !important;
              }
          
        }
        @media  (max-width:599px) {
         
            #container{
                display: grid;
                 grid-template-columns: repeat(2,1fr) !important;
                 gap: 15px;
                 margin: auto;
               
           
            }
            .cat{
                display: none;
            }
            #topnav{
                display: none;
            } 
            #wislist,#cart,#account{
                display: none;
            }
            .secondlastnav{
                box-sizing: border-box !important;
            }
           
        }
        
        @media (max-width:822px) and (min-width:600px) {
            #topnav{
                display: none;
            } 
            #container{
                display: grid;
                 grid-template-columns: repeat(3,1fr) !important;
                 gap: 15px;
                 margin: auto;
               
           
            }
            .cat{
                display: none;
            }
           
          
          
        }
    
        @media (max-width: 20em) {
            #logo{
                display: none;
            }
            /* .dropdownicon{
              display: none;
            } */
            /* #container{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                gap: 15px;
                margin: 10px; 
            } */
          
        }

        @media (max-width: 30em) {
          
            .cat{
                display: none;
            }
            
            h1{
                display: none;
            }
            #container{
                display: grid;
                 grid-template-columns: repeat(1,1fr) !important;
                 gap: 15px;
                 margin: auto;
                 margin-left: 30px !important;
               
           
            }
/* 
            #container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 15px;
                margin: 10px; 
            }
            */
        }
        @media  (max-width:822px) {
 
            .footer1{
          
              display: grid;
              grid-template-columns: repeat(2,1fr) !important;
              margin-top: 9px;
              width: 100%;
              list-style: none;
          }
          .footer2{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 40px;
            margin: 10px;
        }
        .footer2 div{
            display: flex;
            margin: auto;
        }

    }
    *:after, :before {
    border: 0 solid #e5e7eb;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-sizing: border-box;
}
body {
  
    background-color: #ffffff;
}
body {
    
    scroll-behavior: smooth;
}
:root {
    --logo-width-desktop: 120px;
    --logo-width-mobile: 80px;
    --logo-width-sticky: 120px;
}

:root {
    --base-line-height: 20;
    --color-primary: #000000;
    --plyr-color-main: #000000;
    --color-primary-darker: #333333;
    --color-body-text: #000000;
    --color-heading-text: #000000;
    --color-sub-text: #666666;
    --color-text-link: #000000;
    --color-text-link-hover: #999999;
    --color-btn-bg: #000000;
    --color-btn-bg-hover: #000000;
    --color-btn-text: #ffffff;
    --color-btn-text-hover: #ffffff;
    --color-btn-secondary-border: #000000;
    --color-btn-secondary-text: #000000;
    --btn-letter-spacing: 0px;
    --btn-border-radius: 5px;
    --btn-border-width: 1px;
    --btn-line-height: 23px;
    --product-title-color: #000000;
    --product-sale-price-color: #666666;
    --product-regular-price-color: #000000;
    --product-type-color: #666666;
    --product-desc-color: #666666;
    --color-topbar-background: #ffffff;
    --color-topbar-text: #000000;
    --color-menu-background: #000000;
    --color-menu-text: #f8f8f8;
    --color-border: #dedede;
    --color-footer-text: #000000;
    --color-footer-subtext: #666666;
    --color-footer-background: #f5f5f5;
    --color-footer-link: #666666;
    --color-footer-link-hover: #000000;
    --color-footer-background-mobile: #F5F5F5;
    --color-footer-bottom-text: #000;
    --color-footer-bottom-background: #f5f5f5;
    --color-footer-bottom-background-mobile: #F5F5F5;
    --color-header-text: #000000;
    --color-header-transparent-text: #000000;
    --color-main-background: #ffffff;
    --color-field-background: #ffffff;
    --color-header-background: #ffffff;
    --color-cart-wishlist-count: #ffffff;
    --bg-cart-wishlist-count: #da3f3f;
    --swatch-item-background-default: #f7f8fa;
    --text-gray-400: #777777;
    --text-gray-9b: #9b9b9b;
    --text-black: #000000;
    --text-white: #ffffff;
    --bg-gray-400: #f7f8fa;
    --bg-black: #000000;
    --rounded-full: 9999px;
    --border-color-1: #eeeeee;
    --border-color-2: #b2b2b2;
    --border-color-3: #d2d2d2;
    --border-color-4: #737373;
    --color-secondary: #666666;
    --color-success: #3a8735;
    --color-warning: #ff706b;
    --color-info: #959595;
    --color-disabled: #cecece;
    --bg-disabled: #f7f7f7;
    --bg-hover: #737373;
    --bg-color-tooltip: #000000;
    --text-color-tooltip: #ffffff;
    --color-image-overlay: #000000;
    --opacity-image-overlay: 0.2;
    --theme-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    --arrow-select-box: url(//cdn.shopify.com/s/files/1/0677/1464/6315/t/10/assets/ar-down.svg?v=9272826…);
    --font-base-size: 14;
    --font-btn-size: 14px;
    --font-btn-weight: 500;
    --font-h1-desktop: 54;
    --font-h1-mobile: 50;
    --font-h2-desktop: 42;
    --font-h2-mobile: 37;
    --font-h3-desktop: 31;
    --font-h3-mobile: 28;
    --font-h4-desktop: 27;
    --font-h4-mobile: 24;
    --font-h5-desktop: 23;
    --font-h5-mobile: 20;
    --font-h6-desktop: 21;
    --font-h6-mobile: 19;
    --arrow-down-url: url(//cdn.shopify.com/s/files/1/0677/1464/6315/t/10/assets/arrow-down.svg?v=1575524…);
    --arrow-down-white-url: url(//cdn.shopify.com/s/files/1/0677/1464/6315/t/10/assets/arrow-down-white.svg?v=7053573…);
    --product-title-line-clamp: unset;
    --spacing-sections-desktop: 100px;
    --spacing-sections-tablet: 75px;
    --spacing-sections-mobile: 50px;
}
.top{
            display: flex;
            justify-content: space-between;
            box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            /* width: 100% !important; */
            box-sizing: border-box !important ;
            text-align: center;
            padding-top: 10px;
            margin: 10px;
        }
        li>svg{
    width: 15px;
    
        }
        .dropdown>svg{
            width: 15px;  
            text-align: center; 
            /* display: block; */
    vertical-align: middle;
  

        }
        
        .socialmedia{
            display: flex;
            justify-content: space-between;
            gap: 50px;
           vertical-align: middle;
           
            list-style: none;
            text-align: center;
        }
        .facebook{
            width: 10px;
        }
        
        .socialmedia li,p{
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            list-style: none;
            text-align: center;
        }
        span{
            margin-left: 5px;
        }
        .secondlastnav>svg{
            width: 5%;
            
        }
        .secondlastnav li{
            list-style: none;
        }
       
        #downnav>.down{
            
         box-sizing: border-box;
        }
        .down li{
            list-style: none;
            font-size: 15px;
            font-weight: 600;
            padding-left: 8px;
            display: flex;
            justify-content: space-between;
        }
        #downnav{
           
            margin: 10px;
        }
        .down{
           
            box-sizing:border-box !important;
            display: flex;
            justify-content: space-between;
            text-align: center;
        
        }
        .down li{
            display: flex;
        }
        .downright,.down svg{
            margin-right: 20px;
           
        }
       .downright svg{
        width: 20px;
       }
       .btn{
        background-color:#fff;
        color: black;
        border: #fff;
        margin-top: 10px;
       }
       .btn:hover{
        background-color: #fff;
        color: black;
       }
       .dropdown-item{
        display: flex;
        justify-content: space-between;
       }
      .searchbarclose{
        visibility: hidden;
      }
      /* .searchbaropen{
        visibility: visible;
        width: 500px;
      } */
      h1{
        text-align: center;
        font-family: SF-Heading-font;
        

Font-size: 42px;

Font-weight: 400;

Line-height: 28px;

color: rgb(0, 0, 0)

      }
       a{
     
       text-decoration: none;
       color: black; 
       /* text-align: center; */
       } 
       #heading{
        margin-top: 20px;
        box-sizing: border-box;
       
        margin: 10px;
       }
       /* #container{
        box-sizing: border-box;

       } */
       #container img{
        width: 100%;
        height: 80%;
        object-fit: cover;
       }
       #container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 15px;
        margin: 10px;
        margin: auto;
        cursor: pointer;

       }
       #mid{
        box-sizing: border-box;
       
        margin: 15px;
       }
       .disdiv{
        display: flex;
        flex-direction: column;
        margin: 10px;
       }
       .disdiv span{
        font-size: 15px;
        font-weight: 400;
       }
       .disdiv span:nth-child(1){
        color: #666666;
        font-weight: 600;
        font-size: 10px;
       }
       /* footer */
footer{
    box-sizing: border-box;
    margin: 10px;
}
.footer1 li{
    list-style: none;
    color: #666666;
    font-size: small;
}
.footer1{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 9px;
    width: 100%;
    list-style: none;
}
.footer1>div{
    padding-top: 50px;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE ;
    background-color: #F5F5F5;

}
.footer1>div:last-child{
    border-right:0;
}
.footer1 p{
    font-family: SF-Heading-font;
    font-weight: 500;
    color: #1d1c1c;
    font: size 14px;
    font-style:normal;
}
.btn{
    border: 0;
    background-color: #fff;
}
.dropdow a{
    background-color: #ffffff;
    width: 100%;
    margin-left: 10px;
}
.dropdow{
    border: 1px solid #DEDEDE;
    display: none;
}
.footer2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 10px;
}