@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif; 
    /* border: 2px solid; */
}

/* top-nav-banner */
.top-banner{
    display:flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding:7px 0px;
    border-bottom: 1px solid rgb(227, 215, 215);
}
.banner-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    font-size: 14px; 
}
.banner-box p{
    margin:0;
    margin-right: 25%;
}
#lang{
    display:flex;
    align-items: center;
}
#lang a{
    text-decoration: none;
    color:black
}

.media {
   display:flex;
   width:46%;
   justify-content: flex-start;
}
.media>div{
    display:flex;
    align-items: center;
    padding:5px;
    margin-left: 10px;
}
.media>div a{
    padding-left: 5px;
    text-decoration: none;
    color:black
}
.media>div> img{
    width:12%;
}
/* top-nav-banner */
.main-box{
    width:95% ;
    margin:auto;
}
/* main-nav */

.navbar-light .navbar-nav .nav-link{
    color:black;
}
.navLinks{
   
    width:20%
}
.container-fluid{
    margin:0;
    align-items: center;
    display: flex;
}
.logo{
    display:flex;
    align-items: center;
}
.logo h1{
    margin-left: 5px;
    font-weight:bold;
    font-family: 'Dancing Script', cursive;
}

.nav-content, .nav-icons{
    display:flex;
    justify-content: space-between;
}
.nav-icons{
    /* border:1px solid; */
    width:30%;
    justify-content:flex-end;
    padding:10px;
}
.nav-icons>a img{
    padding-left:20px;
}
.search{
    border:2px solid rgb(147 147 149);
    display:flex;
    border-radius:5px;
    padding:0px 5px;
    width:70%;
    justify-content: space-between;
} 

#search-box{
    border:none;
    outline: none;
    width:90%
}

/* dropdown-menu */
.dropdown{
    font-size: 14px;
    font-weight: bold;
}
.dropdown-menu li a{
    color:rgba(18, 17, 17, 0.529);
}

.dropdown-menu{
    box-shadow: 0px 1px 8px -4px rgb(0 0 0 / 42%);
    border:none;
    font-size: 13px;
    transition: ease-in .2s;
}
.dropdown-item{
    padding: .5rem 5rem 0.5rem 0.2rem;
}
/* .men, .women{
    width:1400px;
} */
.dropdown-menu[data-bs-popper]{
    top:125%;
}
.inside-drop-box{
    display:flex;
    /* justify-content:space-around */
}
.inside-drop{
    display:flex;
    width:50%;
    margin-left:10px;
} 

/* dropdown-menu */
/* main-nav */

/* banner */

.banner{
    background-image:url("../index-images/indexImg/banner.jpeg");
    height:600px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display:flex;
    align-items:center;
    justify-content:center;
}
.banner button{
    /* display: block; */
    padding:7px 20px;
    border-radius: 7px;
    color:white;
    background-color:black;
    font-size: 12px;
}

/* banner */

/* trending-shirts */

/* .trending-shirts{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}

.trending-card>img{
    width:100%;
    position:relative;
}
.trending-card a img:first-child{
    position:absolute; 
    left: 270px;
    top: 885px;

} */

/* trending-shirts */

/* women card */
.carousel{
    margin-bottom:60px;
}
/* .women-card , .men-card{
    margin:30px 50px;
} */

.cards-wrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.card img{
    position:relative;
}
.card-body a{
    position: absolute;
    left:270px;
    top:395px;
    
}
.card-body a img:hover{
    filter: invert(200%) sepia(0%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    /* filter:grayscale(100%); */
}
.card-title{
    font-weight:bolder;
}
.custom-btn{
    border-radius: 35px;
    padding:10px;
    background-color:white;
    border:none;
}
.custom-btn:hover{
    border:black;
    background-color:black;
}


/* women card */

/* featured-brand */
.featue-brand-title h1{
    text-align: center;
}
.feature-brand-content h5{
    font-weight: bold;
    margin-top: 10px;
}
.feature-brand-content{
    display:flex;
    justify-content:space-between;
    margin:45px 0px
}
/* featured-brand */

/* collab */
.image-wrapper {
    position: relative;
  }

  .image-hover{
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .7s ease-in-out;
    width:100%;
    
  }

  .image-hover:hover {
    opacity: 1;
    cursor:pointer;
  }

  .collab{
    margin-top: 70px;
  }
  
.collab button, .explore-brand button {
    display:block;
    border-radius: 7px;
    padding:5px 10px;
    background-color: black;
    color:white;
    margin: 10px auto;
}
.women-card-title, .men-card-title, .collab-title , .featured-product-title ,.explore-brand-title,.brandOnCC-title{
    text-align: center;
    margin:40px 0;
}
.card-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px 0px;
    place-items: center;
}
.card-container .card-title{
    font-size: 11px;
    color: #00000085;
}
.card-container .card{
    border:none;
}
.card-name{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
.card-price{
    margin: 5px 0;
}
/* collab */

.featured-product{
    margin-top: 70px;
}
.card-body{
    /* border: 1px solid */
    padding: 1rem 0;
}
.featured-product-custom-carousel{
   
    display:flex!important;
    align-items: center;
    justify-content: space-between;
}
.featured-product-custom-carousel .card{
   
    margin:auto;
}
.featured-product-carouselItem{
    width:50%;
    overflow: hidden;
}
.featured-product-carouselItem img:hover{
    transform: scale(1.1);
}
.featured-product-carouselItem img{
    width:100%;
    transition: .5s ease-in-out;
}

/* brandOnCC*/
.brandOnCC-Container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap:20px 30px;
    place-items: center;
}
.brandOnCC-Container img{
    width:100%;
    /* border:2px solid; */
}
/* brandOnCC */

  /* footer */
  footer{
    box-sizing: border-box;
    background-color: #F5F5F5;
}
.footer1 li{
    list-style: none;
    color: #666666;
    font-size: small;
}
.footer1{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 9px;
    
    list-style: none;
}
.footer1>div{
    padding-top: 50px;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE ;
    background-color: #F5F5F5;

}
.footer1>div:last-child{
    border-right:0;
}
.footer1 p{
    font-family: SF-Heading-font;
    font-weight: 500;
    color: #1d1c1c;
    font: size 14px;
    font-style:normal;
}
.btn{
    border: 0;
    background-color: #fff;
}
.dropdow a{
    background-color: #ffffff;
    width: 100%;
    margin-left: 10px;
}
.dropdow{
    border: 1px solid #DEDEDE;
    display: none;
}
.footer2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 10px;
}
.socialmedia{
    display: flex;
    list-style: none
}
.socialmedia li:last-child{
    margin-left: 40px;
}

@media only screen and (max-width: 1260px){
    .card-container{
        grid-template-columns: repeat(3,1fr);
    }

}
@media only screen and (max-width: 990px){
    .navbar-collapse{
    position: absolute;
    top: 56px;
    left: 41px;
    padding: 10px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 1px -1px 5px -3px rgb(0 0 0 / 75%);
    }
    .men-nav-img{
        display: none;
    }
    .top-banner{
        display:none;
    }
    .search{
        display:none;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .cards-wrapper{
        grid-template-columns: repeat(3,1fr);
    }
    .cards-wrapper>.card:last-child{
        display: none;
    }
    .brandOnCC-Container{
        grid-template-columns: repeat(3,1fr)
    }
    .footer1{
        grid-template-columns: repeat(2,1fr);
    }
    .footer2>div:first-child{
        display: none;
    }
}
@media only screen and (max-width: 600px){

    .shoes{
        display: none;
    }

    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .featured-product-custom-carousel{
        flex-direction: column;
    }
    .featured-product-custom-carousel div{
        width:100%;
    }
    .feature-brand-content{
        flex-direction: column;
        align-items: center;
    }
    .feature-brand-content>div{
        width: 100% !important;
    }
    .cards-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    .cards-wrapper .card:nth-child(3)
    {
        display:none;
    }
    .footer1{
        grid-template-columns: repeat(1,1fr);
    }
    .footer1>p,.footer1 li{
        text-align: center;
    }
    .footer2{
        flex-direction: column;
        align-items: center;
    }
    .footer2 div{
       
    }
    .brandOnCC-Container{
        grid-template-columns: repeat(2,1fr)
    }
}
@media only screen and (max-width: 450px){
    .logo h1{
        display: none;
    }
    .brand{
        display: none;
    }
    .cards-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .cards-wrapper .card:nth-child(2)
    {
        display:none;
    }
    .brandOnCC-Container{
        grid-template-columns: repeat(1,1fr)
    }
}